.message-list-container {
  flex-grow: 1;
  overflow-y: auto;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 70%;
  align-self: center;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .message-list-container {
    width: 100%;
    padding: 1rem;
  }
}
