.message-bubble {
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  max-width: 70%;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

.user-bubble {
  background-color: #101112;
  color: white;
  margin-left: auto;
}

.bot-bubble {
  background-color: #06064a;
  color: #ffffff;
  margin-right: auto;
}
